/**
 * @file
 * 
 * 1215 + screen
 * 
 */




@media screen and (min-width: $computer) {

    // NAVIGATION STYLES

    body {
    	
		background-image: url('../images/exclusive_paper.png');
		background-repeat: repeat;
		background-position: top left;
	}

}